@mixin box ($height: 600px, $width: 800px, $margin-top){
  border: 2px solid white;
  display: block;
  height: $height;
  margin-top: $margin-top;
  margin: auto;
  position: relative;
  width: $width;
}
