.box {
  border: 2px solid white;
  display: block;
  height: 420px;
  margin-top: 8%;
  margin: auto;
  position: relative;
  width: 600px; }

.box {
  border: 2px solid white;
  display: block;
  height: 600px;
  margin: auto;
  margin-top: 3%;
  position: relative;
  width: 800px; }

body {
  background: #34a365; }

.head,
.head-copy,
.ears,
.eyes,
.pupil {
  border-radius: 50%;
  position: absolute; }

.head {
  background: #FFF;
  height: 65%;
  left: 25%;
  top: 15%;
  width: 50%; }

.head-copy {
  height: 100%;
  width: 100%;
  z-index: 2; }

.ears {
  background: #FFF;
  border-radius: 50%;
  height: 30%;
  top: 11%;
  width: 30%;
  z-index: 1; }

.ear-left {
  left: -12%; }

.ear-right {
  right: -12%; }

.inner-ears {
  background: #636163;
  position: absolute;
  top: 30%;
  width: 20%;
  height: 45%;
  border-radius: 50%; }

.inner-left {
  left: 30%;
  transform: rotate(135deg); }

.inner-right {
  right: 30%;
  transform: rotate(225deg); }

.eyes {
  background: #000;
  z-index: 3;
  width: 12%;
  height: 12%;
  top: 38%; }

.eye-left {
  left: 25%; }

.eye-right {
  right: 25%; }

.nose {
  background: #000;
  border-radius: 22% 22% 45% 45%;
  height: 16%;
  width: 18%;
  position: absolute;
  z-index: 4;
  bottom: 23%;
  left: 40%; }

.mouth {
  background: #000;
  border-radius: 30%;
  height: 5%;
  width: 25%;
  position: absolute;
  bottom: 15%;
  left: 37%; }
