body {
  background: #34a365; }

.box {
  border: 2px solid white;
  display: block;
  height: 600px;
  margin: auto;
  margin-top: 3%;
  position: relative;
  width: 800px; }

.head,
.head-copy,
.ears,
.eyes,
.pupil {
  border-radius: 50%;
  position: absolute; }

.head {
  background: #FFF;
  height: 65%;
  left: 25%;
  top: 15%;
  width: 50%; }

.head-copy {
  height: 100%;
  width: 100%;
  z-index: 2; }

.ears {
  background: #FFF;
  border-radius: 50%;
  height: 30%;
  top: 11%;
  width: 30%;
  z-index: 1; }

.ear-left {
  left: -12%; }

.ear-right {
  right: -12%; }

.inner-ears {
  background: #636163;
  position: absolute;
  top: 30%;
  width: 20%;
  height: 45%;
  border-radius: 50%; }

.inner-left {
  left: 30%;
  transform: rotate(135deg); }

.inner-right {
  right: 30%;
  transform: rotate(225deg); }
