html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  background: #65AFAE; }

.notepad {
  background-color: #E4E4A4;
  box-shadow: -4px 10px 20px rgba(0, 0, 0, 0.2), 4px 6px 6px rgba(0, 0, 0, 0.23);
  height: 85vh;
  margin: 0 auto;
  margin-top: 8vh;
  position: relative;
  width: 40vw; }
  .notepad:hover {
    box-shadow: -4px 14px 28px rgba(0, 0, 0, 0.25), 4px 10px 10px rgba(0, 0, 0, 0.24); }

.binding {
  background-color: #C9C8D0;
  border: 1px solid #d1d0d7;
  height: 5.5vh;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.23); }

.vertical-line,
.all-horizontal-lines {
  display: inline-block;
  height: 79.5vh; }

.vertical-line {
  border-left: 2px solid #AE664D;
  border-right: 2px solid #AE664D;
  left: 13%;
  position: absolute;
  width: 1%;
  z-index: 3; }

.all-horizontal-lines {
  float: right;
  padding-top: 2vh;
  width: 100%; }

.line {
  border-bottom: 2px solid #8AB98A;
  height: 30px; }

.text {
  font-family: "Reenie Beanie", cursive;
  font-size: 1.8em;
  font-weight: bold;
  padding-left: 18%;
  padding-top: 7px; }
