body {
  background: #65AFAE; }

.notepad {
  background-color: #E4E4A4;
  height: 80vh;
  margin-left: 30vw;
  margin-top: 10vh;
  position: relative;
  width: 45vw; }

.binding {
  background-color: #C9C8D0;
  height: 5.5vh; }

.line {
  border-bottom: 2px solid #8AB98A;
  min-height: 30px; }

.vertical-line,
.all-horizontal-lines {
  display: inline-block;
  height: 74.5vh; }

.vertical-line {
  border-left: 2px solid #AE664D;
  border-right: 2px solid #AE664D;
  left: 13%;
  position: absolute;
  width: 1%;
  z-index: 3; }

.all-horizontal-lines {
  float: right;
  width: 100%; }
