
@mixin box ($margin-top: 5%, $height: 600px, $width: 800px){
  border: 2px solid white;
  display: block;
  height: $height;
  margin: auto;
  margin-top: $margin-top;
  position: relative;
  width: $width;
}

@mixin circle ($size) {
  height: $size;
  width: $size;
  border-radius: 50%;
}

@mixin absolute-color ($color) {
  background: $color;
  position: absolute;
}

@mixin height-width-top-left ($h, $w, $t, $l) {
  height: $h;
  width: $w;
  top: $t;
  left: $l;
}
