// **************** FONTS ***********************
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,700|Reenie+Beanie|Satisfy');

$font-calendar: 'Josefin Sans', sans-serif;
$font-printed: 'Reenie Beanie', cursive;
$font-cursive: 'Satisfy', cursive;

// **************** COLORS ***********************

// #34469D
// #62CB69
// #5F246B
// #60203E
// #822B44
// #F27059
// #840032
// #F79D65
// #E59500
// #02040F

// BACKGROUND COLORS
$background-blue: #25A9FC;
$background-green: #34a365;
$background-teal:  #65AFAE;
$background-peach: #F4845F;


// KOALA
$koala-fur: #A6BECF;
$koala-ear: #819CAF;

// BEAR-CUB
$bear-ears: #636163;

// ELEPHANT
$elephant-skin: #4a4449;

// NOTEPAD
$notepad-color: #E4E4A4;
$notepad-binding-color: #C9C8D0;
$notepad-horizontal-line-color: #8AB98A;
$notepad-vertical-line-color: #AE664D;

// CALENDAR
$calendar-header: #002642;
$calendar-cell: #E5DADA;
$calendar-peachy: transparentize(#F4845F, .6);
