// **************** FONTS ***********************

$font-printed: 'Reenie Beanie', cursive;
$font-cursive: 'Satisfy', cursive;

// **************** COLORS ***********************

// BACKGROUND COLORS
$background-blue: #25A9FC;
$background-green: #34a365;
$background-teal:  #65AFAE;

// KOALA
$koala-fur: #A6BECF;
$koala-ear: #819CAF;

// BEAR-CUB
$bear-ears: #636163;

// ELEPHANT
$elephant-skin: #4a4449;

// NOTEPAD
$notepad-color: #E4E4A4;
$notepad-binding-color: #C9C8D0;
$notepad-horizontal-line-color: #8AB98A;
$notepad-vertical-line-color: #AE664D;
