// COLORS

// BACKGROUNDS
$background-blue: #25A9FC;
$background-green: #34a365;

// KOALA
$koala-fur: #A6BECF;
$koala-ear: #819CAF;

// BEAR-CUB
$bear-ears: #636163;

// ELEPHANT
$elephant-skin: #4a4449;
