@import "variables";
@import "mixins";

@include base-style($background-peach, $font-calendar);

.calendar {
  box-shadow: -4px -5px 10px rgba(0,0,0,0.20), 4px 5px 10px 5px rgba(0,0,0,0.25);
  background: $calendar-header;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 75px repeat(5, 1fr);
  grid-row-gap: 1px;
  grid-column-gap: 1px;
  width: 70vw;
  height: 75vh;
  border: 2px solid $calendar-header;
  margin: 80px auto;
}

.header {
  display: grid;
  background: $calendar-header;
  grid-column: 1 / span 7;
  grid-row: 1;
  grid-template-columns: repeat(7, 1fr);
  align-items: flex-end;
  border-bottom: 1px solid $background-peach;
}

.day {
  border-bottom: 1px solid $background-peach;
  border-top: 1px solid $background-peach;
  color: $calendar-cell;
  font-size: 2em;
  margin-bottom: 10px;
  padding-bottom: 5px;
  padding-top: 15px;
  text-align: center;
}

.cell {
  background: $calendar-cell;
  font-size: 1.5em;
  transition: font-size 0.2s ease,
              color .02s ease,
              padding .02s ease;
  padding: 5px 0 0 5px;
  &:hover {
    color: $background-peach;
    font-size: 4em;
    padding: 15% 0 0 28%;
    box-shadow: inset -4px -5px 10px $calendar-peachy, inset 4px 5px 5px $calendar-peachy;
  }
}
