@import "variables";
@import "mixins";

@include base-style($background-blue);

.box {
  @include box;
}

.head,
.ears,
.trunk {
  @include absolute-color($elephant-skin)
}

.head {
  @include height-width-top-left(60%, 55%, 7%, 20%);
  border-radius: 50%;
  clip-path: polygon(0 0, 100% 0, 65% 100%, 35% 100%);
}

.ears {
  clip-path: polygon(90% 7%, 99% 48%, 47% 100%, 29% 98%, 15% 51%, 0% 0%);
  height: 45%;
  top: 12%;
  width: 30%;
}

.ear-left {
  left: 5%;
  transform: scale(-1, 1);
}

.ear-right {
  right: 10%;
}

.inner-ears {
  @include absolute-color(darken($elephant-skin, 10));
  clip-path: polygon(90% 7%, 99% 48%, 47% 100%, 29% 98%, 15% 51%, 0% 0%);
  height: 70%;
  top: 10%;
  width: 70%;
}

.inner-left {
  right: 11%;
}

.inner-right {
  left: 14%;
}

.eyes {
  @include circle(8%);
  @include absolute-color(darken($elephant-skin, 20));
  top: 39%;
}

.eye-left {
  left: 35%;
}

.eye-right {
  right: 40%;
}

.trunk {
  @include height-width-top-left(40%, 11%, 57%, 42%);
  border-radius: 25%;
  border: 1px solid darken($elephant-skin, 15);
}

.tusks {
  @include absolute-color(#FFF);
  height: 20%;
  top: 57%;
  width: 3%;
}

.tusk-left {
  left: 36%;
  transform: rotate(10deg);
}

.tusk-right {
  right: 42%;
  transform: rotate(-10deg);
}
