@import "variables";
@import "mixins";

@include base-style($background-blue);

.box {
  @include box();
}

.head,
.head-copy,
.ears,
.hair-left,
.hair-right {
  @include absolute-color($koala-fur);
}

.head {
  @include height-width-top-left(67%, 50%, 16.5%, 25%);
  border-radius: 50%;
}

.head-copy {
  @include circle(100%);
  z-index: 2;
}

.ears {
  border-radius: 50%;
  height: 65%;
  top: 5%;
  width: 60%;
  z-index: 1;
}

.ear-left {
  left: -20%;
}

.ear-right {
  right: -20%;
}

.inner-ear {
  @include circle(80%);
  @include absolute-color($koala-ear);
  left: 10%;
  top: 10%;
}

.eyes {
  @include absolute-color(#FFF);
  border-radius: 50%;
  height: 33%;
  top: 25%;
  width: 30%;
  z-index: 3;
}

.eye-left {
  left: 21%;
}

.eye-right {
  right: 21%;
}

.pupil {
  @include absolute-color(#27354A);
  @include height-width-top-left(30%, 28%, 35%, 36%);
  border-radius: 50%;
}

.nose {
  @include absolute-color(#BE845F)
  @include height-width-top-left(42.5%, 25%, 45%, 37%);
  border-radius: 50px;
  z-index: 4;
}

.hair {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  height: 20%;
  width: 20%;
}

.hair-left {
  left: 30%;
  top: -8%;
}

.hair-right {
  left: 48%;
  top: -4%;
}

@media all and (max-width: 600px)  {
  .box {
    background: none;
    height: 280px;
    margin: auto;
    margin-top: 2%;
    width: 400px;
  }
}
